.main_container {
	width: 360px;
	background-color: #19aae8;
	margin-top: 0;
	margin-bottom: 0; 
	margin-right: auto;
	margin-left: auto;
	font-family: sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
} 

.header {
	background-color: #19aae8;
	/*border-radius: 20px;*/
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

.header h3{
	text-align: center;
	padding-top: 20px;
	color: white;
	padding-bottom: 10px;
}

.headWithBalance {
	background-color: #80d4f9;
	color: white;
}

.balance_box {
	margin-top: 20px;
	text-align: center;
}

.balance_box p{
	font-size: 12px;
}

.expense_details {
	display: flex;
}

.saving, .expense {
	width: 50%;
	text-align: center;

}

.saving_img, .expense_img {
	text-align: center;
	width: 50%;
	margin-left: 30px;
	padding: 20px;
	border: 1px solid #eee;
	background-color: white;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;
	color: #80d4f9;
	border-radius: 50%;
}

.saving img, .expense img{
	margin-left: -7px;
	margin-top: 10px;
}

.saving h2, .expense h2 {
	margin-top: 10px;
	margin-bottom: 30px;
}

.transectionList {
	background-color: #80d4f9;
}

.transectionList_box {
	margin: 0 10px 0 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	background-color: white;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;
	color: black;
	padding-bottom: 10px;
}

.transectionList_heading {
	width: 60%;
	color: #80d4f9;
	margin-left: auto;
	margin-right: auto;
	margin-top: -25px;
	text-align: center;
	border-radius: 20px;
	padding: 10px 0 10px 0;
	border: 1px solid #eee;
	background-color: white;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;
}

.transectionList_box ul {
	padding: 0;
	margin: 0;
}

.history_box {
	height: 50px;
	border-radius: 15px;
	margin: 0 5px 0 5px;
	border: 1px solid #eee;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;
	display: flex; 
}

.history_name, .history_amount {
	width: 50%;
	padding-top: 17px;
}

.history_name {
	padding-left: 20px;
}

.history_amount {
	text-align: right;
	padding-right: 20px;
}

.del_history {
	color: red;
	font-size: 16px;
	border-radius: 10px;
	text-align: center;
	background-color: transparent;
	background-color: #80d4f9;
	border-style: none;
	position: absolute;
	margin-top: -10px;
	margin-left: -9px;
	opacity: 0;
	outline-style: none;
}

.expense_list_style:hover .del_history {
	opacity: 1;
}

.del_history:focus {
	outline:0;
}

.expense_list_style {
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 10px 0 10px 0;

}

.transection_container {
	padding-top: 30px;
	background-color: #80d4f9;
	padding-bottom: 30px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

.transection_box {
	margin: 0 10px 0 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	background-color: white;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;
	color: black;
}

.no_transection {
	color: #ccc;
	text-align: center;
	padding-top: 10px;
}

.name, .amount {
	width: 91%;
	height: 40px;
	padding: 7px;
	margin-top: 10px;
	margin-left: 8px;
	border-radius: 10px;
	border: 1px solid #eee;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;

}

::placeholder { 
	color: #4591b2
}

.btn_box{
	width: 40%;
	margin: 0 auto;
	outline-style: none;
}

.btn {
	width: 100%;
	background-color: #80d4f9;
	color: white;
	border-radius: 20px;
	border-style: none;
	padding: 7px;
	box-shadow: 1px 0.5px 0.5px 1px #ccc;
	margin: 10px 0 10px 0;
	outline-style: none;

}

.errText {
	padding-top: 3px;
	color: red;
	text-align: center;
}

.plus {
	color: #0ec940;
	/*#21e057;*/
}

.negative {
	color: red;
}

.footer_box {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #19aae8;
	height: 50px;
	text-align: center;
}

.footer_box p {
	font-size: 12px;
	color: white;
}
